.popupContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;   
}

.formContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.confirmBtns {
    display: flex;
    gap: 0.5em;
}